@font-face {
    font-family: "TacticSansExd";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/TacticSansExd-Reg.woff2") format('woff2'),
       url("../fonts/TacticSansExd-Reg.woff") format('woff'),
       url("../fonts/TacticSansExd-Reg.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/TacticSansExd-RegIt.woff2") format('woff2'),
       url("../fonts/TacticSansExd-RegIt.woff") format('woff'),
       url("../fonts/TacticSansExd-RegIt.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/TacticSansExd-Med.woff2") format('woff2'),
       url("../fonts/TacticSansExd-Med.woff") format('woff'),
       url("../fonts/TacticSansExd-Med.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/TacticSansExd-MedIt.woff2") format('woff2'),
       url("../fonts/TacticSansExd-MedIt.woff") format('woff'),
       url("../fonts/TacticSansExd-MedIt.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/TacticSansExd-Bld.woff2") format('woff2'),
       url("../fonts/TacticSansExd-Bld.woff") format('woff'),
       url("../fonts/TacticSansExd-Bld.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/TacticSansExd-BldIt.woff2") format('woff2'),
       url("../fonts/TacticSansExd-BldIt.woff") format('woff'),
       url("../fonts/TacticSansExd-BldIt.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/TacticSansExd-Lgt.woff2") format('woff2'),
       url("../fonts/TacticSansExd-Lgt.woff") format('woff'),
       url("../fonts/TacticSansExd-Lgt.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/TacticSansExd-LgtIt.woff2") format('woff2'),
       url("../fonts/TacticSansExd-LgtIt.woff") format('woff'),
       url("../fonts/TacticSansExd-LgtIt.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/TacticSansExd-Blk.woff2") format('woff2'),
       url("../fonts/TacticSansExd-Blk.woff") format('woff'),
       url("../fonts/TacticSansExd-Blk.ttf") format('truetype');
}
@font-face {
    font-family: "TacticSansExd";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/TacticSansExd-BlkIt.woff2") format('woff2'),
       url("../fonts/TacticSansExd-BlkIt.woff") format('woff'),
       url("../fonts/TacticSansExd-BlkIt.ttf") format('truetype');
}
@font-face {
    font-family: "RobotoCondensedBold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/RobotoCondensed-Bold.ttf") format('truetype');
}

:root {
    --color-white: #FFFFFF;
    --color-page: #F9FAFA;
    --color-black: #000000;
    --color-dark-bg: #131313;
    --color-gray: #444444;
    --color-red: #E80000;
    --gradient-bg: radial-gradient(farthest-side at 52.6% 50.48%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #131313;
    --box-shadow-primary: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    --box-shadow-swiper: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);
    --font-family-primary: "TacticSansExd";
    --font-family-button: "RobotoCondensedBold";
    --transition: 260ms ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-white);
    background-image: url(../images/icons/lines-main-bg.svg), url(../images/main-bg-search.png);
    background-position: center top, left top;
    background-repeat: repeat-y, no-repeat;
}

.container {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
.container.relative {
    position: relative;
}

h1.title {
    font-family: var(--font-family-primary);
    font-weight: 800;
    font-size: 36px;
    color: var(--color-black);
    text-transform: uppercase; 
}
h2.title {
    font-family: var(--font-family-primary);
    font-size: 36px;
    font-weight: bold;
    color: var(--color-black);
    text-transform: uppercase; 
}
h3.title {
    font-family: var(--font-family-primary);
    font-size: 32px;
    font-weight: bold;
    color: var(--color-dark-bg);
    text-transform: uppercase;
    margin-bottom: 29px;
}
h3.title.light {
    font-weight: 300;
}
.subtitle {
    font-family: var(--font-family-primary);
    font-size: 22px;
    font-weight: 500;
    color: var(--color-gray);
}
p.text {
    font-family: "Arial";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}

.header {

}
.header-inner {
    background-color: var(--color-dark-bg);
    background-image: var(--gradient-bg);
}

.header-link-list {
    padding: 10px 0;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.header-link-list__item {

}
.header-link-list__item a {
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    color: var(--color-white);
    font-family: "Arial";
    font-size: 13px;
    font-weight: bold;
    line-height: 20.8px;
}

.header-panel {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.header-phone {
    display: flex;
    align-items: center;
    position: relative;
    gap: 16px;
    z-index: 1;
    margin-right: 135px;
}
.header-phone .absolute {
    position: absolute;
    top: -20px;
    left: -50px;
    width: 700px;
    z-index: -1;
}
.header-phone-number {
    display: flex;
    flex-direction: column;
}
.header-phone-number .text {
    font-family: "Arial";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 14.4px;
    letter-spacing: 0.9px; 
}

.header-phone-number a {
    color: var(--color-black);
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

.main {
    flex: 1 0 auto;
}
.main-section {
    margin-top: 142px;
}
.main-section .wd {
    max-width: 672px;
}

.main-section-text {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-weight: 500;
    max-width: 593px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 26px;
    margin-bottom: 44px;
}
.main-section-text .large {
    font-size: 48px;
    font-weight: bold;
}
.main-section-text p:last-child {
    align-self: flex-end;
}

.main-section-form {
    background-color: var(--color-dark-bg);
    background-image: var(--gradient-bg);
    padding: 25px 25px 25px 0;
    border-radius: 0px 100px 100px 0px;
    display: flex;
    margin-top: 55px;
    margin-right: 52%;
}
.main-section-form .container {
    padding: 0;
    margin-right: 0;
}
.main-section-form-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    background-color: #383838;
    border-radius: 100px;
    max-width: 609px;
    margin-left: auto;
}

.main-section-form-inner input {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family-button);
    font-size: 18px;
    color: var(--color-white);
    letter-spacing: 1.8px; 
}

.main-section-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 90px;
}
.main-section-cards__item {
    display: flex;
    flex-direction: column;
    font-family: "Arial";
    gap: 15px;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    box-shadow: var(--box-shadow-primary);
    border-radius: 100px;
    max-width: 325px;
    width: 100%;
}

.delivery-section {
    margin-top: 113px;
}
.picker-section {
    margin-top: 70px;
}
.vacancy-section {
    margin-top: 90px;
}
.market-section {
    margin-top: 90px;
    background-image: url(../images/market-bg.png);
    background-position: bottom right;
    background-size: 541px;
    background-repeat: no-repeat;
}
.show-section {
    margin-top: 55px;
}
.drive-bonus-section {
    margin-top: 60px;
    padding:  40px 0;
}
.busines-section {
    margin-top: 60px;
}
.faq-section {
    margin-top: 60px;
}
.review-section {
    margin: 60px 0 150px;
}

.accessible-section .container.relative {
    padding: 75px 740px 0 50px;
}

.form-vacancy-section {
    margin-top: 55px;
    padding: 60px 0;
    background-image: url(../images/search-vacancy-form-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}
.form-vacancy-section.bg {
    background-image: url(../images/from-vacancy-bg2.png);
    margin-top: -90px;
}
.form-vacancy-section h3.title {
    color: var(--color-white);
}
.drive-bonus-section {
    background-image: url(../images/gradient-silver-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px 100px 0 0;
}
.busines-section {
    background-image: url(../images/businessman-looking-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.section-title {
    background-color: var(--color-dark-bg);
    color: var(--color-white);
    font-family: var(--font-family-primary);
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    border-radius: 0 100px 100px 0;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    z-index: 1;
}
.section-title::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    right: 50px;
    top: 0;
    z-index: -1;
    background-color: var(--color-dark-bg);
}

.section-subtitle {
    color: var(--color-dark-bg);
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    width: fit-content;
    margin-top: 14px;
}

.section-box {
    padding: 60px 120px 100px;
    background-image: url(../images/section-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1600px;
    margin: 24px auto 60px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0 250px 250px 250px;
}
.section-box.fire {
    background-image: url(../images/section-bg2.png);

}
.section-box .absolute {
    bottom: -100px;
    position: absolute;
    right: 100px;
    width: 600px;
    z-index: 2;
}
.section-box.fire .absolute {
    bottom: -20px;
    right: 50px;
}
.section-box-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: var(--color-white);
    max-width: 672px;
}
.fire .section-box-text {
    max-width: 800px;
}
.section-box-list {
    margin-top: 60px;
    list-style: none;
}
.section-box-list__item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}
.section-box-list__item::before {
    content: '';
    min-width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 20px;
    background-image: url(../images/icons/list-mark-checked.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.section-box-info {
    max-width: 866px;
    background-image: url(../images/section-line-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 19px 12px 0;
    margin-top: 46px;
}
.fire .section-box-info {
    max-width: 840px;
    padding-right: 60px;
}
.section-box-info::before {
    content: '';
    background-color: #E8E8E8;
    width: 200px;
    height: 100%;
    left: -195px;
    z-index: -1;
    top: 0;
    position: absolute;
}
.section-box-info .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    max-width: 640px;
    font-weight: 700;
    color: var(--color-black);
}
.scroll-title {
    text-align: right;
    text-transform: uppercase;
    width: fit-content;
}
.scroll-title .top-title, .line-title {
    gap: 16px;
    display: flex;
    align-items: center;
    font-family: var(--font-family-primary);
    font-style: italic;
    font-weight: 500;
    color: #666666;
    font-size: 18px;
}

.line-title {
    text-transform: uppercase;
}
.scroll-title .top-title::before, .line-title::before {
    content: '';
    display: inline-block;
    width: 27px;
    height: 1px;
    background-color: var(--color-black);
}

.scroll-title .title {
    font-family: var(--font-family-primary);
    font-style: italic;
    font-weight: 500;
    color: var(--color-black);
    font-size: 32px;
}

.scroll-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    /* overflow-x: scroll; */
    width: 100%;
}

.scroll-vacancy {
    box-shadow: var(--box-shadow-primary);
    background-color: var(--color-white);
    border-radius: 25px;
    padding: 17px 0;
    margin: 30px 0 60px;
    min-width: 256px;
    width: 256px;
}
.scroll-store {
    margin: 30px 0 40px;

}
.vacancy-wage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 50px;
    width: fit-content;
    padding: 4px 11px;
    margin: 0 16px 15px;
}
.vacancy-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
    margin: 0 16px;
}
.vacancy-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    margin: 2px 16px 10px;
}
.vacancy-require {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
    margin: 0 16px 10px;
}
.vacancy-require span {
    color: #828282;
}
.vacancy-location {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
    padding: 10px 16px 0;
    border-top: 1px solid #DADADA;
}

.scroll-wrapper.vacancy {
    margin: 40px 0;
}
.vacancy-card {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-primary);
    border-radius: 25px;
    position: relative;
    height: 312px;
}
.vacancy-card .head {
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 0;
    padding: 4px 17px;
    border-radius: 0 50px 50px 0;
    background-image: url(../images/vacancy-gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--color-red);
    width: 140px;
}
.vacancy-card .absolute {
    top: -28px;
    right: 0px;
    position: absolute;
    height: 216px;
}
.vacancy-card .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--color-black);
    padding: 10px 17px;
    height: 67px;
}
.vacancy-card .primary-button {
    margin-left: auto;
    border-radius: 25px 0 25px 0;
}

.market-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-top: 33px;
}
.market__item {
    width: 210px;
}
.market-logo {
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}
.market-title {
    font-family: var(--font-family-primary);
    color: #666666;
    font-weight: 500;
    text-transform: uppercase;
}
.market-point {
    display: flex;
    align-items: center;
    gap: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color-black);
    margin-top: 8px;
}
.market-point::before {
    content: '';
    display: inline-block;
    min-width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: var(--color-red);
    box-shadow: 0px 2px 8px rgba(255, 0, 0, 0.75);
}

.show-block {
    display: flex;
    gap: 20px;
    align-items: center;
    min-height: 439px;
}

.show-block .info {
    height: fit-content;
    width: 100%;
    max-width: 555px;
}
.show-block .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--color-black);
    line-height: 160%;
}
.show-block .absolute {
    position: absolute;
    right: 0;
}
.show-list {
    list-style: none;
    margin-top: 20px;
}
.show-list__item {
    display: inline-flex;
    width: 100%;
    gap: 11px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color-black);
    line-height: 160%;
}
.show-list__item::before {
    content: '';
    min-width: 15px;
    display: inline-flex;
    height: 14px;
    background-image: url(../images/icons/check-show-list.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    filter:drop-shadow(0px 2px 8px rgba(255, 0, 0, 0.75));
}

.show-section .subtext {
    font-family: var(--font-family-primary);
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-black);
    margin-top: 30px;
}

.form-vacancy-absolute {
    position: absolute;
    bottom: 0;
    right: 0px;
}
.form-vacancy-absolute.top {
    bottom: -180px;
    right: -250px;
}
.back-text {
    font-size: 36px;
    position: relative;
    padding: 10px 20px;
    background-color: var(--color-white);
    background-image: linear-gradient(top, white 50%, silver 50%);
    border-radius: 0 50px 50px 0;
    font-family: var(--font-family-primary);
    font-weight: 800;
    width: fit-content;
    z-index: 1;
    margin: 36px 0 10px;
    text-transform: uppercase;
}
.back-text::before {
    content: '';
    background-color: var(--color-white);
    background-image: linear-gradient(top, white 50%, silver 50%);
    width: 50vw;
    position: absolute;
    top: 0;
    right: 200px;
    height: 100%;
    z-index: -1;
}
.form-vacancy {
    width: fit-content;
    margin-top: 116px;
}
.form-vacancy .primary-button {
    margin-top: 20px;
}

.top-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 670px;
}
.bg-pen-block {
    position: relative;
    left: -450px;
}

.steps-flex {
    display: flex;
    gap: 20px;
}
.swiper-cases {
    background-color: var(--color-white);
    border-radius: 0 100px 100px 100px;
    box-shadow: var(--box-shadow-swiper);
    padding: 48px 75px 0;
    height: fit-content;
}
.swiper-cases .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-prev, .swiper-button-next {
    width: 46px;
    height: 46px;
    border: 1px solid var(--color-red);
    border-radius: 4px;
    background-color: var(--color-red);
    transition: var(--transition);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: #C50000;
}
.swiper-button-prev::after, .swiper-button-next::after {
    content: '';
    width: 14px;
    height: 13px;
    background-image: url(../images/icons/arrow-button.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.swiper-button-prev::after {
    transform: rotate(180deg);
}
.slide-cases-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.swiper-cases .primary-button {
    margin-left: 60px;
}
.swiper-cases .line-title {
    margin-left: 18px;
}

.slide-item .title {
    color: #828282;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 60px;
}
.slide-item .text, .result {
    color: var(--color-black);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
    font-size: 18px;
}
.before-block {
    color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color-red);
    border-radius: 0 20px 20px 0;
    padding: 4px 10px 4px 50px;
    width: fit-content;
    letter-spacing: 2px;
}

.accordions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}
.accordions-grid .primary-button {
    width: 100%;
    height: 74px
}

.accordion .accordion-head {
    width: 100%;
    height: 74px;
    border: 1px solid var(--color-red);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 11px 20px 25px;
    cursor: pointer;
}
.accordion .accordion-head .point {
    font-family: var(--font-family-primary);
    font-weight: bold;
    color: var(--color-red);
    font-size: 24px;
}
.accordion .accordion-head .action-item {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border: 3px solid #C3C3C3;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
}
.accordion .accordion-head .action-item .line {
    width: 20px;
    position: absolute;
    transition: var(--transition);
}
.accordion .accordion-head .action-item .line:first-child {
    transform: rotate(90deg);
}
.accordion.active .accordion-head .action-item .line:first-child {
    transform: none;
}
.accordion .accordion-head .head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
}
.accordion .accordion-dropdown {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    overflow: hidden;
    padding: 0 85px;
    height: 0;
    transition: var(--transition);
}
.accordion.active .accordion-dropdown {
    height: fit-content;
    padding: 20px 85px 5px;
}

.footer {
    flex-shrink: 0;
    background-image: url(../images/footer-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 -200px 0 #000;
    color: var(--color-white);
    padding: 60px 0;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-list__item {
    padding-bottom: 20px;

}
.footer-list__item a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.social-links-list {
    display: flex;
    flex-wrap: wrap;
    width: 172px;
    gap: 10px 10px;
    margin-top: 35px;
}

.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: var(--color-red);
    padding: 12px 30px;
    font-family: var(--font-family-button);
    font-weight: bold;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--color-white);
    transition: var(--transition);
    cursor: pointer;
    white-space: nowrap;
}
.primary-button.long {
    width: 100%;
}
.primary-button.border {
    background-color: var(--color-white);
    border: 1px solid var(--color-red);
    color: var(--color-red);
}
.primary-button::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url(../images/icons/arrow-button.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
}
.primary-button.arrow-hide::after {
    display: none;
}
.primary-button.border::after {
    display: none;
}

.primary-button:hover {
    background-color: #C50000;
}
.primary-button.border:hover {
    border: 1px solid #C50000;
    color: var(--color-white);
}

.primary-input {
    background-color: #383838;
    color: var(--color-white);
    font-family: var(--font-family-button);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 12px 30px;
}
.primary-input::placeholder {
    color: var(--color-white);
    opacity: 1;

}
.primary-input:focus::placeholder {
    opacity: 0;
}

.c-red {
    color: var(--color-red);
}
.c-black {
    color: var(--color-black);
}
.c-gray {
    color: var(--color-gray);
}

.fw-bold {
    font-weight: bold;
}
.fw-black {
    font-weight: 800;
}
.fs-italic {
    font-style: italic;
}
.m-auto {
    margin: 0 auto;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}   
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
